*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
}
#logo{
    height: 50px;
    background-color: #4aaaa5;
    float: left;
    color:  #fff;
    margin: 0px 0px 0px 20%;
    padding: 20px 20px 0px 20px;
}

.nav{
    float: right;
    height: 125px;
    padding: 25px 0px 0px 0px;
    margin:0px 20% 0px 0px;
}

.nav a{
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #777;
}

 header{
    overflow: auto;
    background-color:#fff;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    height: 70px;
    margin: 0px 0px 0px 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
 }
h2 {
    color: #4aaaa5;
    padding: 0px 0px 20px 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;


}

section{
    width: 60%;
    padding: 20px 20px 20px 20px;
    margin:50px 20% 20px 20%;
    background-color: #fff;
    overflow: hidden;
}

body{
    background-image: url(../images/wavy-dots.png);
}

img{
float: left;
padding: 25px;
}

p{
    padding: 25 px;
}

.wrapper {
    min-height: 100%;
    margin-bottom:-50px;
}

.footer, .push{
    height: 50px;
}

footer{
    background-color: #666;
    border:50px 0px 0px 0px;
    height: 50px;
    border-top: solid;
    border-top-color: #4aaaa5;
    text-align: center;
    padding: 15px;
}


.image{
    height: 200px;
    float: left;
    width: 200px;
    position:relative;
    margin: 10px;

}
.image img{
    height: 200px;
    width: 200px;
    padding: 0px;
}

.image p{
    position: absolute;
    bottom: 30px;
    height:40px;
    background-color:#4aaaa5; 
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 0px 0px 0px;
    margin: 0px;

}
